<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>Hello,API</title>
      <style>
          h2,h3{
              padding-top: 5em;
          }
          h4{
              padding-top: 1em;
              color: orangered;
          }
          a{
              text-decoration: none;
          }

      </style>
  </head>
  <body>
    <div class="container">
        <h2>HELLO, WELCOME TO API</h2>
        <h3><a href="{% url 'user' %}">Click Here For User and Activity API data</a></h3>
        <h4>API URL LINK : http://srikanth7200.pythonanywhere.com/user/</h4>
        <h3><a href="{% url 'populate_data' %}">Click Here for AutoPopulate the Database with some more Dummy Data</a></h3>

        {% if populate %}
            <h4>{{ populate }}</h4>

        {% endif %}
    </div>

  </body>
</html>